<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <node name="pub1" pkg="ackermann_nav" type="pub1" output="screen" />
  <node name="pub1_2" pkg="ackermann_nav" type="pub1_2" output="screen" />
  <node name="pub1_3" pkg="ackermann_nav" type="pub1_3" output="screen" />

  <node name="sub1_pub1" pkg="ackermann_nav" type="sub1_pub1" output="screen" />
  <node name="sub3_pub2" pkg="ackermann_nav" type="sub3_pub2" output="screen" />


</launch>

